<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.demo_vue_axios.Dao.UserMapper">

    <select id="selectOne" resultType="com.example.test.demo_vue_axios.Model.User">
        select * from User where username = #{username} and password = #{password}
    </select>


</mapper>
